h2{
    margin: 50px 20px;
}

.vertical{
    margin: 50px 20px;
}

.vertical a{
    text-indent: 40px;
    list-style-type: none;
    text-decoration: none;
    width: 200px;
    height: 40px;
    background: #f7b700 url(../img/menu.png);
    display: block;
    color: black;
    line-height: 40px;
}

.vertical a:hover, #selecionado{
    background-position: right;
    background-color: #e78300; 
    color: white;
}

